@import '../../styles/containers';

.header {
  font: italic 30px Georgia, serif;
  text-align: center;
}

.extra-text {
  font: 20px Georgia, serif;
  text-align: center;
}

mat-list-item {
  font: 20px Georgia, serif;
  text-align: center;
}
