<app-information nextRoute="/walkthrough/health/last">
  Do you think your vision is bad, <br/>
  do you struggle to read screens from a distance, <br/>
  or would you like to have an eye test anyway? <br/>

  Press the button below for instructions to carry one out, <br/>
  for free, and a discount on new spectacles.
  <br/>
  <br/>
  <app-redirect-button
    [url]="'http://www.cardiffmet.ac.uk/study/studentservices/health/Pages/Free-Eye-Tests.aspx'"
    [text]="'Free Eye Tests'"
  ></app-redirect-button>
</app-information>
