<app-information [nextRoute]="'/walkthrough/disability/page3'">
  So you have a condition. We will explore the support available to you in CardiffMet.
  <br/><br/>
  For some general information, click below.
  <app-redirect-button
    [url]="'http://www.cardiffmet.ac.uk/study/studentservices/disabilityservice/Pages/default.aspx'"
    [text]="'Disability Service'"
  ></app-redirect-button><br/><br/>

  You can always get in touch with the Disability Service by emailing
  <a href="mailto:disability@cardiffmet.ac.uk">disability@cardiffmet.ac.uk</a>.

  For more specific items, please press continue.
</app-information>
