
button {
  height: 100%;
  width: 100%;
  font: 30px Georgia, serif;
  color: white;
  padding: 30px;
  border-radius: 25px;
}

mat-card {
  border-radius: 25px;
  border: 2px white;
  padding: 5px;
}

