<app-information nextRoute="/walkthrough/health/gp-registration-information">
  It is important that you know how to get in touch with emergency services. <br/>
  In the case of emergency, you may call 029 20747747 to get in touch <br/>
  with the emergency unit at Heath Park. <br/>
  In addition, first aiders are available on each campus. <br/>
  They can be contacted by dialing 2222 on internal phones. <br/>
  To call for an ambulance, you may dial the Emergency Switchboard Number 2222.
</app-information>
