<app-information [nextRoute]="'/walkthrough/health/emergency-information'">
  Here follows key information about health services available at CardiffMet. <br/>
  In the medical centre on Cyncoed Campus, a Nursing Officer can be seen for any
  problem related to physical or mental health.<br/><br/>

  All information you need is laid out on the page linked below.
  <br/><br/>
  <app-redirect-button
    [url]="'http://www.cardiffmet.ac.uk/study/studentservices/health/Pages/default.aspx'"
    [text]="'Student Health Service'"
  ></app-redirect-button>
  <br/>

  Now follows a bit of information and some questions.
</app-information>
